
body {
  font-family: 'Open Sans', sans-serif;
}

.title {
  margin: 20px 0;
  text-align: center;
}

.title h1 {
  font-size: 20px;
  margin: 0;
}

.title p {
  font-size: 14px;
  margin: 0;
}

.title img {
  width: 60px;
  height: 60px;
}

.status-panel {
  width: 100vw;
  height: 120px;
  background-color: #F0E4AD;
  text-align: center;
}

.status-panel .remaining {
  font-size: 50px;
}

.status-panel .trackName {
  font-size: 12px;
  font-weight: bold;
}

.buttons {
  margin-top: 20px;
}

.vertical-centre {
  position: relative;
  top: 50%;
  transform:      translateY(-50%);
}

button {
    -webkit-appearance: none;
    padding:5px 15px; 
    background: #dfdfdf;
    border: none; 
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    height: 50px;
    width: calc(80vw - 10px);
    margin: auto;
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
}

button.active {
  background-color: #F0E4AD;
}

#player-wrapper {
  width: 160px;
  height: 160px;
  margin: auto;
  box-shadow: 4px 4px 17px 5px rgba(0, 0, 0, 0.3)
}